<sk-cube-grid *ngIf="showSpinner"></sk-cube-grid>
<div class="row">
<div class="col-sm">
<h2>Slot Filter</h2>
<div>
        <select class='select-option form-control' [(ngModel)]="dateFrom">
                <option class='option' *ngFor='let sol of slot | initial: 2 | unique' [value]="sol.from">{{sol.from | date: 'dd/MM/yyyy hh:mm:ss'}}</option>
        </select>
        <select class='select-option form-control' [(ngModel)]="dateTo">
                <option class='option' *ngFor="let sol of slot | initial: 1 | unique" [value]="sol.to">{{sol.to | date: 'dd/MM/yyyy hh:mm:ss'}}</option>
        </select>
</div>
<div>
<br/>
<span class="badge badge-info float-right">Room Filter:</span>
<br/>
<select class='select-option form-control form-control-lg' [(ngModel)]="term">
    <option selected>Choose...</option>
    <option class='option' *ngFor='let so of slot'>{{so.room.id}}</option>
</select>
<br/>
<span class="badge badge-pill badge-primary float-right">Available:  / {{ slot?.length }}</span>

<br/>
<div class="custom-control custom-checkbox float">
                <input type="checkbox" class="custom-control-input" id="customCheck1" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                <label class="custom-control-label" for="customCheck1">Show/Hide ALL the Slots</label>
</div>
<br/>

<div  *ngIf="showCheck">
<div class="card" *ngFor="let so of slot |filter:term |filter:dateTo" draggable [dragula]='"bag-task1"' >
     <div class="card-body">
            <h3>{{ so.name }}</h3>
           <span class="badge badge-warning">{{ so.day }}{{ so.to | date: 'dd/MM/yyyy hh:mm:ss' }}</span>
           <span class="badge badge-primary">{{ so.room.name }}</span>
           <span class="badge badge-success">{{ so.room.capacity }}</span>
           <span class="badge badge-warning">{{ so.room.setup }}</span>
           <span class="badge badge-danger">{{ so.room.recorded }}</span>
</div>
</div>
</div>
</div>


</div>
